<!DOCTYPE html>
<html lang="en">
<head>
    <head>
        <title>Portafolio</title>
        <%- include("partials/head.html") %>
    </head>
</head>
<body>
    <header>
        <%- include("partials/header.html") %>
    </header>
    <main>

        <section class="py-5 text-center container">
          <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
              <h1 class="fw-bold">Mi Portafolio</h1>
              <p class="lead text-muted">Estos son algunos proyectos que he realizado de forma personal y laborar, enfocados en desarrollo web, software y proyectos de electrónica </p>
              <p>
                <a href="/contacto" class="btn btn-primary my-2">Saber ¡más!</a>
                <a href="#" class="btn btn-secondary my-2">Compartir</a>
              </p>
            </div>
          </div>
        </section>
      
        <div class="album py-5 bg-light">
          <div class="container">
      
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
              <div class="col">
                <div class="card shadow-sm">
                  <img src="/img/LOGO-CAOBA-2.png" alt="Caoba" width="200px">
      
                  <div class="card-body">
                    <h4 class="card-title"><strong>Caoba</strong></h4>
                    <h7 class="indigo-text"><strong>Emprendimiento de impacto ambiental</strong></h5>
                    <p class="card-text">Caboa es un proyecto ambicioso, que busca integrar la naturaleza como parte de las viviendas en espacios urbanos. </p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <a href="/caoba") %>" class="btn btn-primary my-2">¡Más!</a>
                        <a href="#") %>" class="btn btn-primary my-2">Compartir</a>
                      </div>
                     
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card shadow-sm">
                    <img src="/img/drone.jpg" alt="Drone" width="200px">
      
                  <div class="card-body">
                    <h4 class="pink-text"><i class="fas fa-utensils"></i>Drone</h5>
                    <!--Title-->
                    <h7 class="card-title"><strong>Creado con arduino</strong></h4>
                    <p class="card-text">Drone funcional elaborado con la plataforma de hardware y software de arduino. 
                        Controlado a patir de la recepción de datos suministrada por un sistema de radio control.</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <a href="/drone") %>" class="btn btn-primary my-2">¡Más!</a>
                        <a href="#) %>" class="btn btn-primary my-2">Compartir</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card shadow-sm">
                    <img src="/img/carro arduino.jpg" alt="Carro arduino" width="200px">
      
                  <div class="card-body">
                    <h4 class="card-title"><strong>Carro a control remoto</strong></h4>
                    <h7><strong>Control a través de radio control o sistema bluetooth</strong></h5>
                    <p class="card-text">Auto desarrollado con arduino con funciones que le permiten ser capaz de detectar obstaculos y esquivarlos, 
                        sistema de señalización de movimientos a realizar y otras funciones.</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <a href="/carroacontrolremoto") %>" class="btn btn-primary my-2">¡Más!</a>
                        <a href="#") %>" class="btn btn-primary my-2">Compartir</a>
                      </div>
         
                    </div>
                  </div>
                </div>
              </div>
      
              <div class="col">
                <div class="card shadow-sm">
                    <img src="/img/control remoto arduino.png" alt="Control Remoto Arduino" width="200px">
      
                  <div class="card-body">
                    <h4 class="card-title"><strong>Control remoto</strong></h4>
                    <h5 class="indigo-text"><strong>Transmisor radial con arduino</strong></h5>
                    <p class="card-text">Proyecto para la elaboración de un mando a control remoto, que permite controlar sistemas de vuelo como drones o helicopteros y a su vez, autos a control.</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <a href="/controlremoto") %>" class="btn btn-primary my-2">¡Más!</a>
                        <a href="#") %>" class="btn btn-primary my-2">Compartir</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card shadow-sm">
                    <img src="/img/lcd arduino.png" alt="Lcd con Arduino" width="200px">
      
                  <div class="card-body">
                    <h4 class="card-title"><strong>Proyección en LCD</strong></h4>
                    <h5 class="indigo-text"><strong>Impresión por pantalla LCD</strong></h5>
                    <p class="card-text">Este proyecto permite representar y ejemplificar de manera clara,
                        la aplicación de pantallas LCD en sistemas como: bloqueo de puertas, avisos, sistemas de medición entre otras muchas aplicaciones de esta tecnología.</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <a href="/lcdarduino") %>" class="btn btn-primary ">¡Más!</a>
                        <a href="#") %>" class="btn btn-primary ">Compartir</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card shadow-sm">
                    
                    <img src="/img/audio arduino.jpg" alt="Reproductor de Audio con Arduino" width="200px">
      
                  <div class="card-body">
                    <h4 class="card-title"><strong>Reproductor de música con arduino</strong></h4>
                    <h5 class="indigo-text"><strong>¡Listo para escuchar!</strong></h5>
                    <p class="card-text">Proyecto desarrollado con la función de permitir reproducir efectos, sonidos y música, a partir del microcontrolador arduino como interprete y una bocina emisora.</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <a href="/reproductorarduino") %>" class="btn btn-primary my-2">¡Más!</a>
                        <a href="#") %>" class="btn btn-primary my-2">Compartir</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
      
              <div class="col">
                <div class="card shadow-sm">
                    <img src="/img/contador arduino.png" alt="Contador Arduino" width="200px">
      
                  <div class="card-body">
                    <h4 class="card-title"><strong>Contador</strong></h4>
                    <h5 class="indigo-text"><strong>Display de 7 segmentos controlado por arduino</strong></h5>
                    <p class="card-text">Proyecto que permite realizar un contador para especifica el tiempo trasncurrido o por el contrario el restante al ejecutar un evento. 
                
                    </p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <a href="#") %>" class="btn btn-primary my-2">¡Más!</a>
                        <a href="#") %>" class="btn btn-primary my-2">Compartir</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card shadow-sm">
                    <img src="/img/bluetooth leds.jpg" alt="Bluetooth leds arduino" width="200px">
                  <div class="card-body">
                    <h4 class="card-title"><strong> Comunicación Bluetooth para control de leds </strong></h4>
                    <h5 class="indigo-text"><strong>Sistema bluetooth controlado por arduino</strong></h5>
                    <p class="card-text">Proyecto de transmisión y recepción de datos por bluetooth para controlar la secuencia de encedido de leds</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <a href="#") %>" class="btn btn-primary my-2">¡Más!</a>
                        <a href="#") %>" class="btn btn-primary my-2">Compartir</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      
      </main>
        <%- include("partials/footer.html") %>
</body>
</html>